<footer class="usa-footer site-footer" role="contentinfo">
  <div class="footer-section-bottom bg-base-lighter">
    <div class="grid-container">
      <div class="grid-row padding-3">
        <div class="tablet:grid-col">
          <div class="logo-links">
            <a class="footer-logo media_link" href="https://18f.gsa.gov">
              {% asset logo-img.png width="50" alt="Agency logo" %}
            </a>
          </div>
        </div>
        <div class="tablet:grid-col"></div>
        <div class="tablet:grid-col">
          <ul class="add-list-reset">
            <li><a href="https://www.gsa.gov">GSA.gov</a></li>
            <li><a href="https://section508.gov">Section508.gov</a></li>
            <li><a href="https://www.access-board.gov">Access Board</a></li>
          </ul>
        </div>
        <div class="tablet:grid-col">
          <ul class="add-list-reset">
            <li><a href="https://www.w3.org/WAI/standards-guidelines/wcag/">WCAG Guidelines</a></li>
            <li><a href="https://github.com/GSA/openacr">GitHub Project Repository</a></li>
            <li><a href="https://github.com/GSA/openacr/issues">GitHub Issue Queue</a></li>
            <li><a href="https://github.com/GSA/openacr-website">GitHub Website Repository</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
