{% comment %}
Use this section to highlight key elements of your site. Some sites will only have two while others may have six to
eight.
{% endcomment %}


<section class="usa-graphic-list usa-section usa-section--dark">
  <div class="grid-container">
    <div class="usa-graphic-list__row grid-row grid-gap">
      <div class="usa-media-block tablet:grid-col">

        <div class="usa-media-block__img">{% asset procurement aria-hidden="true" alt="" %}</div>

        <div class="usa-media-block__body">
            <h3 class="usa-graphic-list__heading"><a href="{{ site.baseurl }}/procurement/">Procurement Team</a></h3>
            <p>Procurement Contracting Officer (PCO), Contracting Officer's Representative (COR), and Accessibility Subject-Matter Expert (SME} all play a critical role in choosing digital tools that meet the organization's needs. </p>
        </div>
      </div>

      <div class="usa-media-block tablet:grid-col">

        <div class="usa-media-block__img">{% asset accessibility-sme aria-hidden="true" alt="" %}</div>

        <div class="usa-media-block__body">
          <h3 class="usa-graphic-list__heading"><a href="{{ site.baseurl }}/accessibility-expert/">Accessibility Subject Matter Expert (SME)</a></h3>
          <p>Accessibility expertise is needed by both vendors and clients. There are many accessibility agencies which also play a role in providing 3rd party reviews. OpenACR provides a common way to share information about conformance claims. </p>
        </div>
      </div>
    </div>

    <div class="usa-graphic-list__row grid-row grid-gap">

      <div class="usa-media-block tablet:grid-col">

        <div class="usa-media-block__img">{% asset vendors aria-hidden="true" alt="" %}</div>

        <div class="usa-media-block__body">
          <h3 class="usa-graphic-list__heading"><a href="{{ site.baseurl }}/vendors/">Vendors</a></h3>
          <p>Vendors want to demonstrate that their software best meets the needs of the clients. Accessibility is a critical part of many organizations requirements, and so it must be considered. </p>
        </div>
      </div>

      <div class="usa-media-block tablet:grid-col">

        <div class="usa-media-block__img">{% asset advocates aria-hidden="true" alt="" %}</div>

        <div class="usa-media-block__body">
          <h3 class="usa-graphic-list__heading"><a href="{{ site.baseurl }}/advocates/">Advocates</a></h3>
          <p>Some estimate that 1/5 people has a permanent disability. Everyone has occasional situational or temporary disabilities that makes accessibility more difficult. People with lived experience of disabilities have an expertise which is valuable in understanding how accessibility claims stack up with the reality. </p>
        </div>
      </div>
    </div>
  </div>
</section>
