{% comment %}
Use this section to highlight key elements of your site. Some sites will only have two while others may have six to
eight.
{% endcomment %}


<section class="usa-graphic-list usa-section usa-section--dark">
  <div class="grid-container">
    <div class="usa-graphic-list__row grid-row grid-gap">
      <div class="usa-media-block tablet:grid-col">
        {% asset circle-124.png class="usa-media-block__img" alt="Alt text" %}
        <div class="usa-media-block__body">
          <h3 class="usa-graphic-list__heading">Procurement Team</h3>
          <p>Procurement Contracting Officer (PCO), Contracting Officer's Representative (COR), and Accessibility Subject Matter Expert (SME} all play a critical role in choosing digital tools that meet the organization's needs. </p>
        </div>
      </div>
      <div class="usa-media-block tablet:grid-col">
        {% asset circle-124.png class="usa-media-block__img" alt="Alt text" %}
        <div class="usa-media-block__body">
          <h3 class="usa-graphic-list__heading">Agency Project Lead / Requiring Official</h3>
          <p>The project lead plays a critical role in the project, including it's accessibility. This often starts with thinking about inclusion in the discovery and market research phases. </p>
        </div>
      </div>
    </div>
    <div class="usa-graphic-list__row grid-row grid-gap">
      <div class="usa-media-block tablet:grid-col">
        {% asset circle-124.png class="usa-media-block__img" alt="Alt text" %}
        <div class="usa-media-block__body">
          <h3 class="usa-graphic-list__heading">Vendors</h3>
          <p>Vendors want to demonstrate that their software best meets the needs of the clients. Accessibility is a critical part of many organizations requirements, and so it must be considred. </p>
        </div>
      </div>
      <div class="usa-media-block tablet:grid-col">
        {% asset circle-124.png class="usa-media-block__img" alt="Alt text" %}
        <div class="usa-media-block__body">
          <h3 class="usa-graphic-list__heading">Accessibility Professionals and ACR Authors</h3>
          <p>It is a good practice for a vendor to engage with a 3rd party to create the ACR. It is difficult for many vendors to provide an objective view of how closely their software aligns with accessibility requirements. </p>
        </div>
      </div>
    </div>
  </div>
</section>
