{% comment %}
The sidenav is not loaded by default on the main pages. To include this navigation you can either use the
_layouts/page.html layout template, or you can add "sidenav: true" in the front-matter of your pages
{% endcomment %}

<aside class="usa-layout-docs-sidenav desktop:grid-col-3 padding-bottom-4">
  <nav>
    <ul class="usa-sidenav">
      <li class="usa-sidenav__item">
        <a href="{{ site.baseurl }}/about/">Learning about OpenACRs</a>
      </li>
      <li class="usa-sidenav__item">
        <a href="{{ site.baseurl }}/create/">How to create an OpenACR Reports</a>
      </li>
      <li class="usa-sidenav__item">
        <a href="{{ site.baseurl }}/faq/">Frequently Asked Questions (FAQ)s</a>
      </li>
      <li class="usa-sidenav__item">
        <a href="{{ site.baseurl }}/roadmap/">Roadmap</a>
      </li>
      <li class="usa-sidenav__item">
        <a href="{{ site.baseurl }}/resources/">Resources</a>
      </li>

    </ul>
  </nav>
</aside>
