{% comment %}
This tagline will appear in your homepage
{% endcomment %}

<section class="grid-container usa-section usa-prose">
  <div class="grid-row grid-gap">
    <div class="tablet:grid-col-4">
      <h2 class="font-heading-xl margin-top-0 tablet:margin-bottom-0">OpenACR Transparency</h2>
    </div>
    <div class="tablet:grid-col-8 usa-prose">
      <p>Integrate accessibility into your digital process though Open Accessibility Conformance Reports (OpenACR). Make sure you have a machine-readable ACR which allows you to keep track of IT in your enterprise. </p>
    </div>
  </div>
</section>
