{% comment %}
This tagline will appear in your homepage
{% endcomment %}

<section class="grid-container usa-section usa-prose">
  <div class="grid-row grid-gap">
    <div class="tablet:grid-col-4">
      <h2 class="font-heading-xl margin-top-0 tablet:margin-bottom-0">OpenACR</h2>
    </div>
    <div class="tablet:grid-col-8 usa-prose">
      <p>OpenACR is a new machine-readable Accessibility Conformance Report (ACR) format. Designed to make it easier for everyone to build, maintain,
        validate and compare meaningful accessibility reporting in the procurement processes. Built for agencies who want to monitor and improve accessibility 
        in the enterprise. </p>
    </div>
  </div>
</section>
