/*
  Customize US Web Design System SASS
  See all at designsystem.digital.gov/documentation/settings
*/

// Example - Override the background image in the hero component using SASS:
// $theme-hero-image: asset_path("whatever-the-default-is.png");

$theme-hero-image: asset_path("DisabilityIN-stock-hero.jpg");

@import "uswds";

// Example - Override the background image in the hero component using CSS:
//.usa-hero {
//  background-image: asset_url("your-image.png")
//  background-position: 50%;
//  background-size: cover;
//}

/*
  Add your SASS/CSS here
*/

// default mode hide banner
.usa-banner__content {
  display: hidden;
}

@media screen and (min-width: 640px) {
  .tablet\:width-1\/3 {
    width: 33%;
  }
  .tablet\:float-left {
    float: left;
  }
}

@media screen and (min-width: 640px) {
  .paginate-link {
    display: initial;
  }
  .paginate-button {
    display: none;
  }
}

@media screen and (max-width: 640px) {
  .paginate-link {
    display: none;
  }
  .paginate-button {
    display: block;
  }
}

.usa-banner__header-action::after {
  background-color: unset;
}

.usa-banner__button::after {
  -webkit-mask: url("../img/usa-icons/expand_more.svg") no-repeat center/contain;
}
.usa-banner__button[aria-expanded="true"]::after {
  -webkit-mask: url("../img/usa-icons/expand_less.svg") no-repeat center/contain;
}

.usa-media-block__img {
  width: 132px;
  height: 132px;
  background-color: #edf5ff;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.usa-media-block__img img {
  width: 64px;
  height: 64px;
}
